# Environment variables
.env

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
ENV/

# Streamlit specific
.streamlit/secrets.toml

# Distribution / packaging
dist/
build/
*.egg-info/

# Logs
*.log

# OS specific
.DS_Store
Thumbs.db 